{% extends "base.html" %}

{% block content %}
<form action="/welcome" method="POST"/>
<title>Signup</title>

<h1>
    Signup
</h1>
    <div>
        <label>Username:</label><input type='text' name='name'/>
        {% if error: %}
        <p class='error'>{{error}}</p>
        {% endif %}
        <label>Password:</label><input type='password' name='password'/>
        {% if error2: %}
        <p class='error'>{{error}}</p>
        {% endif %}
        <label> Verify Password:</label><input type='password' name='password2'/>
        {% if error3: %}
        <p class='error'>{{error}}</p>
        {% endif %}
        <label>Email (optional)</label><input type='text' name='email'/>
    </div>
    <input type="submit" value="Submit"/>
    

</label>


{% endblock %}