{% extends "base.html" %}

{% block content %}
<form action="/welcome" method="POST"/>
<title>Signup</title>

<h1>
    Signup
</h1>
   <table>
       <tbody>
           
            <tr>       
                <td><label>Username:</label></td>
                <td><input type='text' name='name'/></td>
                {% if error: %}
                <td class='error'>{{error}}</td>
                {% endif %}
            </tr> 

            <tr>
            <td><label>Password:</label></td>
                <td><input type='password' name='password'/></td>
                {% if error2: %}
                <td class='error'>{{error2}}</td>
                {% endif %}
            </tr>

            <tr>
            <td><label> Verify Password:</label></td>
            <td><input type='password' name='password2'/></td>
            {% if error3: %}
                <td class='error'>{{error3}}</p></td>
                {% endif %}
            </tr>

            <tr>
            <td><label>Email (optional)</label></td>
            <td><input type='text' name='email'/></td>
            </tr>

            <tr>
            <td><input type="submit" value="Submit"/></td>
            </tr>

        </tbody>
    </table>

{% endblock %}