{% extends "base.html" %}

{% block content %}



<h1>
    Signup
</h1>
  
<form action="/" method="post">   
  
          <table>
            <tbody
            <tr>
              <td><label>Username:</label></td>
              <td><input type='text' name='name' value="{{username}}"/></td>
              <td class='error'>{{error}}</td>
            </tr> 
            
            <tr>
                <td><label>Password:</label></td>
                <td><input type='password' name='password' value="{{password}}"/></td>
               
                <td class='error'>{{error2}}</td>
                
            </tr> 

            <tr>
                <td><label> Verify Password:</label></td>
                <td><input type='password' name='password2' value="{{password2}}"/></td>            
             
                <td class='error'>{{error3}}</td>  
            </tr> 
         

            <tr>
                <td><label>Email (optional)</label></td>
                <td><input type='text' name='email'/></td>
                <td class='error'>{{email_error}}</td>
          </tr> 

          <tr>
            <td><input type="submit" value="Submit"/></td>
          </tr> 
          </tbody>  
          </table>
        
</form>

{% endblock %}